.a{
height:50px;
width:1600px;
background-color:orange;
}
.b{
height:20px;
width:1600px;
background-color:orange;
}
.c{
height:400px;
width:1600px;
}
.d{
height:1000px;
width:300px;
background-color:orange;
}
.e{
height:1000px;
width:1300px;
margin-left:300px;
background-color:green;
margin-top:-1020px;
}
